.sidebar-btn-wrapper {
    .sidebar-btn {
        text-decoration: none;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;   
        background-color: rgb(47, 47, 47);    
        border-radius: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: rgb(172, 172, 172); 
        transition: background 0.25s ease, color 0.25s ease;

        &:hover {
            background: rgb(101, 101, 101);
            color: white;
        }
    }
}

#admin-sidebar-title {
    a {
        color: rgb(175, 175, 175);
        text-decoration: none;
        border-radius: 5px;
        transition: color 0.3s ease, box-shadow 1s ease-out;

        &:hover {
            color: white;
            box-shadow: 0 0 8px 4px rgba(0, 123, 255, 0.7);
        }
    }
}
