.admin-navbar {
    height: 50px;
    background: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;

    #icon-threebar {
        font-size: 24px;
        padding: 5px 10px;
        display: inline-block;
        height: 100%;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;
    }
}